// reservations CSS
[data-form-component-name="your-storage-details"] {
      overflow: hidden !important;
  .col-md-4:nth-child(5) {
    display: none;
  }
  .customSelectInner {
        width: 100% !important;
        min-width: 401px;
  }
}
[data-line-item-class="ServiceFee"] {
  display: none;
}
.content-wrapper .footer-push {
    height: 0 !important;
}

//For User profile-content
.profile-content {
  .nav-stacked {
    // Hide services tab
    a[href="#services"] {
        display: none !important;
    }
  }
}
.registrations.registrations-show.user-role-lister {
   .registrations-show#content{
     .footer-wrapper {
         position: relative;
     }
  }
}
.registrations  {
    #services {
      display: none;
    }
}
body.buy-sell-theme {
  .user-profile.container-fluid {
    min-height: 497px;
  }
}

.footer-wrapper {
    position: relative !important;
}

//will make footer image and hero image full width
.row-fluid {
  .offset2:first-child {
    margin-left: 0 !important;
  }
}
.row-fluid {
  .span8 {
   width: 100% !important;
 }
}
