[data-form-component-name="your-storage-details"] {
  overflow: hidden !important;
}
[data-form-component-name="your-storage-details"] .customSelectInner {
  width: 100% !important;
  min-width: 401px;
}

[data-line-item-class="ServiceFee"] {
  display: none;
}

.content-wrapper .footer-push {
  height: 0 !important;
}
